body {
    margin: 0;
    width: 130px;
    height: 94px;
    background-color: #222;
    font-size: 1em;
    overflow: hidden;
    color: #aaa; }
    
a, a:hover, a:visited, a:focus {
    outline: 0 none; }
a:focus {
    outline: 1px solid lime}

.clearfix {
    display:inline-block; }
    .clearfix:after, .container:after {
        clear:both;
        content:".";
        display:block;
        height:0;
        visibility:hidden; }
    * html .clearfix {
        height:1%; }
    .clearfix {
        display:block; }
.clear {
    clear:both;
    height:0;
    width:0;
    margin:0;
    padding:0;
    line-height:0;
    overflow: hidden;
    font-size:0px; }

#content {
    margin: 0;
    padding: 0.2em;
    border: 1px solid #777 }
    
.texty-timekeeper {
    border: #fff }
    
    .texty-timekeeper .indicator {
        font-family: Arial;
        color: #777;
        background-color: #000;
        margin-left: 4%;
        width: 90%;
        padding: 0;
        margin-bottom: 0.1em;
        border: 1px solid #555; }
        
        .texty-timekeeper .indicator.max {
            color: #33cc33 }
        .texty-timekeeper .indicator.high {
            color: #669900 }
        .texty-timekeeper .indicator.mid {
            color: #ff9933 }
        .texty-timekeeper .indicator.low {
            color: #cc0000 }
        .texty-timekeeper .indicator.empty {
            color: #ccc }
            
    .texty-timekeeper .scale {
        font-size: 0.65em;
        color: #777;
        clear: both }
        .texty-timekeeper .scale span {
            display: inline-block }
        .texty-timekeeper .scale .max {
            float: right }
        .texty-timekeeper .scale .empty {
            float: left }
        
    .texty-timekeeper .info {
        font-family: Tahoma;
        font-size: 0.8em;
        padding-top: 0.08em; }
        
        .texty-timekeeper .info .nag {
            font-size: 90%;
            margin-top: 0.2em }
        .texty-timekeeper .info .date {
            height: 35px;
            display: none }
        .texty-timekeeper .info .event {
            height: 35px }
        .texty-timekeeper .info .date a,
        .texty-timekeeper .info .event a {
            color: #aaa;
            text-decoration: none;
            cursor: default }
        .texty-timekeeper .info .date a:hover,
        .texty-timekeeper .info .event a:hover {
            color: #eee }